.form input {
    width: 100%;
    outline: none;
    height: 30px;
    background-color: #E5EEF5;
    border: none;
    padding: 0 10px;
    margin-bottom: 10px;
}
.toast {
    position: fixed;
    bottom: 0;
    right: 0;
}
.modal {
    display: block;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
}
.modalContent {
    border-radius: 20px;
    margin: 15% auto;
    width: 40%;
}
.modalHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #987EFF;
    border: 1px solid #987EFF;
    padding: 10px;
    border-radius: 20px 20px 0px 0px;
}
.modalClose {
    position: absolute;
    right: 5px;
    top: 5px;
    font-weight: 600;
    color: black;
    cursor: pointer;
}  
.modalClose:hover {
    color: red;
}
.form {
    display: flex;
    gap: 20px;
    flex-direction: column;
    background-color: #fefefe;
    padding: 20px;
    border-radius: 0px 0px 20px 20px;
}
.form button, .addBtn {
    border: none;
    font-size: 14px;
    font-weight: 700;
    outline: none;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;  
    cursor: pointer;
    border-radius: 10px;
}
.form button {
    color: white;
    background-color: #987EFF;
    padding: 10px;
    font-size: 16px;
}
.form button:hover {
    background-color: #3FD4F4;
}

.addBtn {
    padding: 8px 15px;
}
.addIcon {
    font-size: 25px;
    color: #987EFF;
}
.addIcon:hover {
    opacity: 0.8;
}
.formContent p {
    font-weight: 600;
}