.taskItem {
    display: flex;
    height: 50px;
    margin: 0 10px;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    padding: 14px;
	border-radius: 14px;
    color: white;
	margin-bottom: 14px;
    font-weight: 600;
}
.itemFunction {
    gap: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.delete, .edit {
    font-size: 20px;
    cursor: pointer;
}
.edit:hover {
    color: green;
}
.delete:hover {
    color: red;
}
.taskComplete {
    text-decoration: line-through;
    color: #ccc;
}
.taskTitle {
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: space-between;

}
.taskTitle > div {
    display: flex;
    align-items: center;
}
.taskTitle input {
    outline: none;
}